@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* Primary */
    --Light-Cyan: #cee3e9;
    --Neon-Green: #52ffa8;

    /* Neutral */
    --Grayish-Blue: #4e5d73;
    --Dark-Grayish-Blue: #323a49;
    --Dark-Blue: #1f2632;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    background-color: var(--Dark-Blue);
    font-size: 1.75rem;
    margin: 0em 1rem;
}

.advice-card {
    width: 100%;
    max-width: 542px;
    background-color: var(--Dark-Grayish-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    border-radius: 1rem;
    position: relative;
}

#advice-id {
    color: var(--Neon-Green);
    font-weight: 800;
    font-size: .4em;
    letter-spacing: .314rem;
}

#advice-text {
    font-weight: 800;
    color: var(--Light-Cyan);
    font-size: 1.65rem;
    margin: 2.2rem 0em 1.65rem 0em;
}

.advice-line {
    width: 100%;
}

.advice-dice {
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Neon-Green);
    border-radius: 100%;
    position: absolute;
    bottom: -1.1em;
    cursor: pointer;
    transition: 0.2s ease;
}


.advice-dice:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 255, 169, 0.9);
    -moz-box-shadow: 0px 0px 50px 0px rgba(82, 255, 169, 0.9);
    box-shadow: 0px 0px 50px 0px rgba(82, 255, 169, 0.9);
}

.attribution {
    position: absolute;
    padding: .5rem;
    margin-top: 72em;
    color: var(--Very-dark-grayish-blue);
    text-align: center;
    font-size: 0.8rem;
    color: var(--Light-Cyan);
}

.attribution a {
    color: var(--Neon-Green);
    font-weight: 800;

}